<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<title>Container Tracker</title>
</head>

	<h1> ClientView</h1>
	
	<h2> Register container</h2>
	<form th:action="@{/registercontainer}" method="post" th:object="${journeyForm}">
		<p th:text="${registercontainermessage}"> </p>
  		<label>Port of origin:
      		<input type="text" name="portOfOrigin" th:field="*{portOfOrigin}"/>
      	</label>
      	<p th:if="${#fields.hasErrors('portOfOrigin')}" th:errors="*{portOfOrigin}"></p>
      	<br />
      	<label>Destination:
      		<input type="text" name="destination" th:field="*{destination}"/>
      	</label>
      	<p th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}"></p>
      	<br />
      	<label>Content: 
      		<input type="text" name="content" th:field="*{content}"/>
      	</label>
      	<p th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
      	<br />
  		<input type="submit" value="Register container" />
	</form>
	
	<h2>Find container</h2>	 
	<form th:action="@{/findcontainer}" method="post" th:object="${keywordForm}">
	<p th:text="${findcontainermessage}"> </p>
	<label>Keywords :
   		<input type="text" name="keyword" th:field="*{keyword}" />
   	</label>
   	<p th:if="${#fields.hasErrors('keyword')}" th:errors="*{keyword}"></p>
   	<br />
	<input type="submit" value="Find" />
	</form>
	<table>
	  <thead>
	    <tr>
	      <th>Content</th>
	      <th>Container ID</th>
	      <th>Journey ID</th>
	      <th>Port</th>
	      <th>Port of origin</th>
	      <th>Destination</th>
	    </tr>
	  </thead>
	  <tbody>	  
	    <tr th:each="container : ${containers}">
	    <td th:text="${container.journey.get('content').attribute}">
	    <td th:text="${container.id}">
	    <td th:text="${container.journey.id}">
	    <td th:text="${container.port.port}">
	    <td th:text="${container.journey.get('portOfOrigin').port}">
	    <td th:text="${container.journey.get('destination').port}">
	    </tr>
	  </tbody>
	</table>
	
	<h2>Update client</h2>
	<form th:action="@{/updateclient}" method="post" th:object="${userForm}">
	<p th:text="${updateclientmessage}"> </p>
 		<label>Client name :
     		<input type="text" name="clientName" th:field="*{clientName}" />
     	</label>
     	<p th:if="${#fields.hasErrors('clientName')}" th:errors="*{clientName}"></p>
     	<br />
     	<label>Address: 
     		<input type="text" name="address" th:field="*{address}"/>
     	</label>
     	<p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
     	<br />
     	<label>Email :
     		<input type="text" name="email" th:field="*{email}"/>
     	</label>
     	<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
     	<br />
     	<label>Contact person: 
     		<input type="text" name="contactPerson" th:field="*{contactPerson}"/>
     	</label>
     	<p th:if="${#fields.hasErrors('contactPerson')}" th:errors="*{contactPerson}"></p>
     	<br />
     	<label>Password :
     		<input type="text" name="password" th:field="*{password}"/>
     	</label>
     	<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
     	<br />
 		<input type="submit" value="Update" />
	</form>

	<h2>Find port</h2>
		<form th:action="@{/findport}" method="post" th:object="${keywordForm}">
		<p th:text="${findportmessage}"> </p>
	 		<label>Keywords :
	     		<input type="text" name="keyword" th:field="*{keyword}" />
	     	</label>
	     	<p th:if="${#fields.hasErrors('keyword')}" th:errors="*{keyword}"></p>
	     	<br />
	 		<input type="submit" value="Find" />
		</form>
		<table>
		    <thead>
		      <tr>
		        <th >Ports</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr th:each="port : ${ports}">
		      <td th:text="${port.port}">
		      </tr>
		    </tbody>
		  </table>

</html>