<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<title>Container Tracker</title>
</head>

	<h1> Create client:</h1>
	
	<form th:action="@{/createclient}" method="post" th:object="${port}">
	  	<label>Client name</label>:
      	<input type="text" name="clientname" th:field="*{clientname}"/> <br />
      	<label>Address</label>:
      	<input type="text" name="address" th:field="*{address}"/> <br />
      	<label>Contact person</label>:
      	<input type="text" name="contactperson" th:field="*{contactperson}"/> <br />
      	<label>email</label>:
      	<input type="text" name="email" th:field="*{email}"/> <br />
      	
      	<label>Extra</label>:
      	<input type="text" name="test" th:field="*{test}"/> <br />
      	
  		<input type="submit" value="Create" />
	</form>



</html>