<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<title>Container Tracker</title>
</head>

	<h1> Register container:</h1>
	
	<form th:action="@{/createport}" method="post" th:object="${port}">
	  	<label>Port</label>:
      	<input type="text" name="port" th:field="*{port}"/> <br />
      	<label>Port of origin </label>:
      	<input type="text" name="portoforigin" th:field="*{portoforigin}"/> <br/>
      	<label>Destination</label>:
      	<input type="text" name="destination" th:field="*{destination}"/> <br />
      	<label>Content</label>:
      	<input type="text" name="content" th:field="*{content}"/> <br />
      	
  		<input type="submit" value="Create" />
	</form>



</html>